.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
}

.filename {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 1);
  border: 1px solid rgba(var(--callout-border-rgb), 1);
  border-radius: var(--border-radius);
  font-weight: 700;
  font-family: var(--font-mono);
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.button {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--callout-rgb), 0);
  border: 1px solid rgba(var(--callout-border-rgb), 0);
  transition: background 200ms, border 200ms;
  font-family: var(--font-serif);
}

.button:hover {
  background: rgb(var(--callout-rgb));
  border: 1px solid rgb(var(--callout-border-rgb));
}

.button h2 {
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.button p {
  opacity: 0.6;
  font-size: 0.9rem;
  max-width: 34ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  font-size: 2rem;
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
}
