/* Layout */
.layout {
  display: grid;
  grid-template-rows: auto 1fr 2.5rem;
  grid-template-columns: 2rem 1fr;
  height: 100vh;
  overflow-y: hidden;
  font-size: 0.9rem;
}
.layout * {
  transition: background var(--transition), border var(--transition),
    outline var(--transition), color var(--transition);
}

.layout .icon {
  top: 0.1em;
  width: 0.9em;
  height: 0.9em;
}
.layout svg path {
  stroke-width: 1px;
}
.layout .disabled {
  pointer-events: none;
  opacity: 0.25;
}

.layout .menu {
  position: absolute;
  z-index: 3;
  visibility: hidden;
  outline: 1px solid rgb(var(--border-rgb));
  opacity: 0;
  transition: opacity var(--transition), visibility var(--transition);
}
.layout .button {
  outline: 1px solid transparent;
}
.layout .option {
  background: rgb(var(--primary-rgb));
  outline: 1px solid rgb(var(--border-rgb));
}
.layout .option:hover {
  background: rgb(var(--secondary-rgb));
}
.layout .select:hover > .button {
  background: rgb(var(--secondary-rgb));
  outline: 1px solid rgb(var(--border-rgb));
}
.layout .select:hover > .menu {
  visibility: visible;
  opacity: 1;
}

.layout > .content {
  grid-row: 2;
  grid-column: 2;
}
.layout > .header {
  grid-row: 1;
  grid-column: span 2;
}
.layout > .footer {
  grid-row: 3;
  grid-column: span 2;
}
.layout > .sider {
  grid-row: 2;
  grid-column: 1;
}

/* Header */
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: rgb(var(--primary-rgb));
  outline: 1px solid rgb(var(--border-rgb));
}
.header * {
  font-family: var(--font-mono);
  overflow-wrap: anywhere;
}

.header .toolbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.header .toolbar svg {
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
}
.header .toolbar svg path {
  stroke-width: 1px;
}
.header .toolbar .label {
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.header .select .menu {
  width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
}
.header .select .button,
.header .select .option {
  display: block;
  padding: 0.25rem 0.5rem;
}
.header .select .button {
  font-weight: bold;
}

/* Content */
.content {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  overflow-y: scroll;
}

.content .comment {
  overflow: hidden;
  max-width: var(--max-width);
  border-radius: var(--border-radius);
  outline: 1px solid rgb(var(--border-rgb));
  background: rgb(var(--secondary-rgb));
  margin: 1rem auto;
}

.content .comment > .comment {
  margin: 0 -1px 1rem 1rem;
}

.content .comment > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
  background: rgb(var(--primary-rgb));
  border-bottom: 1px solid rgb(var(--border-rgb));
  padding: 0.5rem;
  font-family: var(--font-mono);
  line-height: 1.5em;
}

.content .comment > .top > .link {
  z-index: 2;
}

.content .comment > .top > .link > .positive {
  color: green;
}
.content .comment > .top > .link > .negative {
  color: red;
}
.content .comment > .top > .link > .neutral {
  color: gray;
  text-decoration: line-through;
}

.content .comment > .body {
  padding: 1rem;
  font-family: var(--font-sans);
  user-select: none;
}
.content .comment > .body a {
  text-decoration: underline;
  z-index: 2;
}

.content .comment .neutral_button,
.content .comment .positive_button,
.content .comment .negative_button {
  position: absolute;
  z-index: 1;
  height: 100%;
}
.content .comment .neutral_button {
  inset: 0;
  width: 100%;
}
.content .comment .negative_button {
  inset: 0;
  width: 50%;
}
.content .comment .positive_button {
  inset: 0 0 0 50%;
  width: 50%;
}
.content .comment .neutral_button:hover,
.content .comment .negative_button:hover,
.content .comment .positive_button:hover {
  background: rgba(var(--border-rgb), 0.25);
}

/* Footer */
.footer {
  display: flex;
  padding: 0 10%;
  background: rgb(var(--primary-rgb));
  outline: 1px solid rgb(var(--border-rgb));
}
.footer > * {
  flex: auto;
  height: 100%;
  padding: 0.5rem 0;
}
.footer > *:hover {
  background: rgb(var(--secondary-rgb));
}
.footer > * > svg {
  display: block;
  height: 100%;
  margin: auto;
}

/* Sider */
.sider {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(var(--primary-rgb));
  outline: 1px solid rgb(var(--border-rgb));
  overflow: visible;
}
.sider > * {
  display: flex;
  flex: auto;
  width: 100%;
}
.sider .select > svg {
  padding: 0.25rem;
}

.sider .menu {
  left: calc(2rem + 1px);
  top: 50%;
  transform: translateY(-50%);
  margin: none;
  padding: none;
}
.sider .option {
  padding: 0.5rem;
  width: 20ch;
  font-family: var(--font-mono);
}
.sider .selected {
  background: rgb(var(--secondary-rgb));
}
.sider .check {
  position: absolute;
  right: 0.25rem;
}
